* {
    margin:0;
    padding:0;
}

body {
    /* font-family: "Pretendard Variable", "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif; */
}

.container {
    /* background-color: rgb(255, 164, 164); */

    width: 100vw;
    display: flex;
    justify-content: center;
}

.contents-container {
    width: 1136px;
    /* border:3px solid blue; */
}

/* width: 1256px; */
/* width: 1136px; */

/* ================ header ================*/

header {
    height: 81px;
    border-bottom: 1px solid #EAEDEF;
    background-color: #FFFFFF;

    position: sticky;
    top: 0;

    /* banner에 absolute 주는 바람에 우선순위가 높아져서 header가 가려지게 됨. z-index 줘야 */
    z-index: 1;
}

header .contents-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

header .left_menu {
    display: flex;
    align-items: center;
}

header #logo {
    margin: 0px 35px 0px 0px;
    display: flex;
    justify-content: start;
}

header .left_menu > * {
    margin: 0 10px;
}

header .left_menu a {
    text-decoration: none;
    color:#2f3438;
    font-size: 18px;
    font-weight: bold;
}

header .left_menu :nth-child(2) {
    color:#35C5F0;
}

header .left_menu a:hover {
    color:#35C5F0;
}

header .right_menu {
    display: flex;
    align-items: center;
}

header .right_menu > * {
    /* margin: 0 10px; */
    padding: 0 10px;
}

header .right_menu a {
    text-decoration: none;
    color:#2f3438;
    font-size: 14px;
}

header .right_menu .partition1,
header .right_menu .partition2 {
    border-left: 1px solid #EAEDEF;
}

.right_menu .material-symbols-outlined {
    font-weight: 200;
    transform: translateY(10%);
}

.right_menu .material-symbols-outlined:hover {
    color:#35C5F0;
}


header .right_menu button {
    padding: 0 16px;
    height: 40px;
    font-size: 14px;
    color: #FFFFFF;
    background-color:#35C5F0;
    border: none;
    border-radius: 4px;

    cursor: pointer;
}

header .right_menu button:hover {
    background-color: #009FCE;
}


/* ================ nav ================*/
nav {
    /* border: 1px solid black; */
    border-bottom: 1px solid #EAEDEF;
    background-color: #FFFFFF;
    height: 51px;
}

nav .contents-container {
    /* 중앙 배치 */
    display: flex;
    align-items: center;
    justify-content:space-between;
}

nav ul {
    display: flex;
}

nav ul a {
    display: block;
    text-decoration: none;

    color:#2f3438;
    font-weight: bold;

    padding:16px 6px;
}

nav ul a:hover {
    color:#35C5F0;
}

nav ul :first-child {
    color:#35C5F0;
    border-bottom: 3px solid #35C5F0;
}

.popular_keyword {
    display: flex;
    width:200px;
    border: 1px solid black;
}
.popular_keyword span {
    display: block;
}

.popular_keyword .rank,
.popular_keyword .trend {
    text-align: center;
    line-height: 20px;

    width:20px;
    height:20px;
}

.popular_keyword .rank {
    font-weight: bold;
    font-size: 14px;
}

.popular_keyword .trend {
    font-size: 10px;
    margin: 0px 5px;
    color: rgb(240, 86, 86);
}

.popular_keyword .product {
    height:20px;
    line-height: 20px;
}

/* ================ main ================*/
main {
    margin-top:30px;
    /* height: 1000px; */
    /* background-color: azure; */
}

/* ------ section--banner ------ */
.banner {
    height: 508px;
}

.banner .contents-container {
    display: flex;
    justify-content: space-between;
}

.main-img,
.banner-box {
    height: 100%;
    border-radius: 5px;
}

.main-img {
    overflow: hidden;
    position: relative;
}

.main-img .publisher-box {
    /* border: 1px solid black; */

    position: absolute;
    bottom:0px;

    padding: 0px 30px 30px;
}

.publisher {
    display: flex;
    align-items: center;
}

.main-img img {
    height: 100%;
}

.main-img .title {
    color: #FFFFFF;
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;

    left:10px;
}

.main-img .icon {
    /* background-color: #FFFFFF; */

    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;

    display: flex;
}

.main-img .publisher p {
    color: #FFFFFF;
    margin-left: 10px;
}


/* ------ banner-box ------ */
.banner-box {
    /* border: 1px solid black; */

    width: 269px;
    height:100%;

    position:relative;
    overflow:hidden;
}

.banner-img-box {
    height:100%;

    display: flex;
    position: absolute;
    left:0px;
}

.banner-img {
    height:100%;
    width:269px;
}

.banner-img img {
    height:100%;
}

/* .banner-img-box :nth-child(1) {
    background-color: red;
}

.banner-img-box :nth-child(2) {
    background-color: orange;
}

.banner-img-box :nth-child(3) {
    background-color: yellow;
}

.banner-img-box :nth-child(4) {
    background-color: green;
}

.banner-img-box :nth-child(5) {
    background-color: blue;
}

.banner-img-box :nth-child(6) {
    background-color: purple;
} */

.arrow-box {
    width:48px;
    height:48px;
    border-radius: 50%;

    position: absolute;
    background-color: white;
    box-shadow: 0 2px 5px rgba(63, 71, 77, 0.15);

    cursor: pointer;
}

.arrow {
    width:14px;
    height:14px;

    position: absolute;
    right: 50%;
    top: 50%;

    border-top : 3px solid #2F3438;
    border-left : 3px solid #2F3438;
}

.left {
    transform: translate(75%, -50%) rotate(-45deg);
}

.right {
    transform: translate(25%, -50%) rotate(135deg);
}

.side-banner {
    position: relative;
}

.arrow-box-left {
    top:50%;
    left:0;
    transform: translate(-50%, -50%);
} 

.arrow-box-right {
    top:50%;
    right:0;
    transform: translate(50%, -50%);
} 

.arrow-box-left:hover {
    background-color: #F7F9FA;
}

.arrow-box-right:hover {
    background-color: #F7F9FA;
}

.side-banner .arrow-box {
    display: none;
}

.side-banner:hover > .arrow-box {
    display: block;
}

/* ------ middle-nav ------ */
.middle-nav {
    margin:30px 0px 40px;
    /* background-color: aquamarine; */
    height: 108px;
}

.middle-nav .contents-container {
    height:100%;
}

.nav-btn-box {
    height:100%;
    width:100%;
    display: flex;
}

.nav-btn {
    /* border:1px solid black; */
    height:100%;
    flex: 1 1 0%;                   /* 요소들 container에 맞게 크기 늘림 */
}

.nav-icon img {
    max-width: 88px;
}

.nav-btn a {
    text-decoration: none;
    text-align: center;
}

.nav-btn span {
    display: block;
    margin-top: 8px;

    font-size: 16px;
    line-height: 20px;
    color: #2F3438;
}


/* ------ 3. interior pictures ------ */
.interior-pictures {
    margin:40px 0px;
}

.interior-pictures .contents-container {
    /* border:1px solid black; */
}

.interior-pictures .section-header {
    height:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0px;
}

.interior-pictures .section-header .title {
    display: flex;
    flex-direction: column;
}

.interior-pictures .section-header .title div {
    flex: 1 1 0%;
}

.interior-pictures .section-header .title strong {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;

    cursor: pointer;
}

.interior-pictures .section-header .title span {
    display: block;
    margin-top: 4px;
}

.see-more button {
    font-size: 16px;
    color: rgb(53, 197, 240);
    line-height: 20px;
    font-weight: 700;

    /* 버튼 배경색 투명하게 */
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

.section-header .title strong:hover,
.see-more button:hover {
    opacity: 0.5;
}

.interior-contents {
    height: 200px;
    width:100%;

    overflow: hidden;
    position: relative;
}

.interior-box {
    height: 100%;
    width:100%;
    
    position: absolute;
    left:0px;
}

.interior-box ul {
    display: flex;
    height:100%;
}

.interior-box li {
    background-color: white;
    margin-right: 20px;

    /* 보이는 div box에 6개의 이미지를 딱 맞게 채우기 위함 */
    width: calc(16.6667% - 16.6667px);
    flex-shrink: 0;


    border-radius: 4px;
    list-style-type: none;

    overflow: hidden;
}

.interior-img {
    height: 100%;
    width:100%;

    display: flex;
    justify-content: center;
}

.interior-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 비율 유지하면서 컨테이너를 꽉 채운다(너비, 높이 줘야 적용됨). */
}

/* 사진 밑 작성자와 북마크 */
.interior-box .writer {
    position: absolute;
    bottom:0;
    left:0;

    padding:8px;
    
    display: flex;
    align-items: center;
}

.interior-box .profile {
    border-radius: 50%;

    width:24px;
    height:24px;

    margin-right:4px;

    overflow: hidden;

    display: flex;
}

.interior-box .profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.interior-box .writer p {
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.interior-box li {
    position: relative;
}

.interior-box .bookmark {
    position: absolute;
    bottom:0;
    right:0;

    padding:0 8px 4px 0;
}


.interior-box button {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

.interior-box .bookmark-on {
    display: none;
}


/* 화살표 버튼 */
.interior-picture-container {
    position: relative;
}

.interior-picture-container .arrow-box-left {
    display: none;
} 

.seemore a {
    text-decoration: none;
}

.seemore {
    display: flex;
    justify-content: center;
    align-items: center;
}

.seemore-arrow-case {
    width:40px;
    height:40px;

    min-width : 40px;
    min-height : 40px;
    
    background-color: rgb(234, 237, 239);
    border-radius: 50%;

    margin-bottom: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.seemore a:hover .seemore-arrow-case{
    background-color: rgb(218, 221, 224);
}

.seemore-arrow {
    font-size: 20px;
    color: rgb(47, 52, 56);
}

.seemore-text {
    font-size: 14px;
    line-height: 20px;
    color: #2F3438;
}

/* 오늘의 기획전 */
.special_exhibition .section-header {
    height:28px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0px;
}

.special_exhibition .title strong {
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.special_exhibition-box a {
    text-decoration: none;
}


.special_exhibition-container {
    width: 100%;
    height:300px;

}

.special_exhibition-contents {
    width: 100%;
    height:100%;

    overflow: hidden;
    position: relative;
}

/* 얘가 움직임 */
.special_exhibition-box {
    width:100%;
    height:100%;

    position: absolute;
    left:0px;
}

.special_exhibition-box ul {
    display: flex;
}


.special_exhibition-box li {
    background-color: white;
    /* border:1px solid black; */
    width:269px;

    margin-right: 20px;

    /* 보이는 div box에 4개의 이미지를 딱 맞게 채우기 위함 */
    width: calc(25% - 15px);
    flex-shrink: 0;

    list-style-type: none;
}

.special_exhibition-img {
    width:100%;
    height:180px;

    border-radius: 4px;

    display: flex;
    overflow: hidden;
}

.special_exhibition-box .desc {
    width:100%;
    height:46px;
    margin-top:10px;

    color: rgb(47, 52, 56);
}

.special_exhibition-box .desc > :first-child {
    
    font-size: 14px;
    line-height: 20px;

    /* 말줄임표(...) */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.special_exhibition-box .desc > :last-child {
    margin-top: 2px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.special_exhibition-container {
    position: relative;
}

.special_exhibition-container .arrow-box-left {
    display: none;
}

/* 베스트 */
.best {
    margin: 40px 0;
}

.best .section-header {
    height:28px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 0px;
}

.best .title strong {
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

/* section-nav */
.section-nav {
    height:32px;
    margin-bottom:16px;
    /* border: 1px solid red; */
}

.best_nav-container {
    height:100%;
    position: relative;
}

.best_nav-box ul {
    display: flex;
    list-style: none;
}

.best_nav-box {
    position: absolute;
    left: 0;
}

.best_nav-box a {
    text-decoration: none;
}

.best_nav-contents {
    overflow: hidden;

    /* width: 100%; */
    height:100%;


    /* 화살표 배치 위함 */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
}

.best_nav-box li div {
    padding: 0 12px;
    margin-right:6px;

    height: 32px;

    font-size: 14px;
    line-height: 32px;

    border-radius: 16px;
    color: rgb(47, 52, 56);
    background-color: rgb(247, 249, 250);
    cursor: pointer;

    white-space:nowrap;     /*줄바꿈 X*/
}

.best_nav-box li div:hover {
    background-color: rgb(234, 237, 239);
}

/* 목록의 첫 번째 <li> 선택 */
.best_nav-box li:first-child div {
    color: rgb(255, 255, 255);
    background-color: rgb(53, 197, 240);
}

.best_nav-box li:first-child div:hover {
    background-color: rgb(0, 159, 206);
}

.section-nav .arrow-box-left {
    display: none;
}


/* section-body */
.section-body {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);   /* 가로로 1:1:1 로 정렬함*/
    gap: 20px;
}

.production-item {
    width: 100%;
    height:100%;

    overflow: hidden;   /*안 주면 안에 자식 요소에 의해 크기가 좌지우지 됨.*/
}

.production-item a {
    text-decoration: none;
}

.production-item-img {
    height:365px;
    width: 100%;
    border-radius: 4px;

    overflow: hidden;
}

.production-item-img img {
    width: 100%;
    height: 100%;

    /* 비율 유지하면서 컨테이너를 꽉 채운다(너비, 높이 줘야 적용됨). */
    object-fit: cover;
}

.production-item__header {
    margin-top: 9px;
}

.production-item__brand {
    display:block;
    color: #757575;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
}

.production-item__name {
    display: block;

    font-weight: 400;
    font-size: 13px;
    line-height: 17px;      /*display에 블록 속성을 주어야 적용됨*/
    color: #000;

    /* 말줄임표. 일단 필요없어서 주석 */
    /* overflow: hidden;
    text-overflow: ellipsis; */
}

.production-item-price {
    margin-top:2px;
}

.production-item-price span {
    font-size: 17px;
    line-height: 23px;
    font-weight: 700; 
}

.production-item__rate {
    color: #35c5f0;
    margin-right: 4px;
}

.production-item__price {
    color: #000;
    margin-right: 4px;
}

.production-item-stats {
    margin: 3px 0 0;

    font-size: 12px;
    color: #9e9e9e;
    line-height: 16px;
    font-weight: 700;
}

.production-item-stats svg {
    width: 1.1em;
    height: 1.1em;
    margin-right: 1px;
    color: #35c5f0;
    vertical-align: -2px;
}

.production-item-stats strong {
    margin-right: 2px;
    color: #424242;
    font-weight: 700;
}

.production-item-delivery-badge {
    display: block;
    margin: 4px 0 0;
}

.production-item-delivery-badge img {
    /* width: auto; */
    height: 15px;
}

.production-item-delivery-badge + span {
    display: block;
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
    color: rgb(99, 145, 230);
}

.production-item-badge-list {
    display: block;
    margin: 8px 0 0;
}

/* ================ footer ================*/
footer {
    padding: 40px 0px;
    background-color: rgb(247, 249, 250);
}

footer .contents-container {
    height:243px;

    display: grid;
    grid-template-columns: 1fr 1px 1fr 1px 2fr;
    column-gap: 30px;
}

footer .partition {
    width: 1px;
    background-color: rgb(234, 237, 239);
}

footer a {
    text-decoration: none;
}

footer * {
    color: rgb(47, 52, 56);
}

footer .customer_center {
    display: flex;
    align-items: center;
}

footer .customer_center span {
    display: block;
}

footer .customer_center span:nth-child(1) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

footer .customer_center span:nth-child(1):hover {
    text-decoration: underline;
}

footer .customer_center span:nth-child(2) {
    font-size: 12px;
    margin-left:3px;
    font-weight: 700;
}

footer .phone_number {
    margin:20px 0 8px 0;
    white-space: nowrap;
}

.phone_number a {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    
    margin-right: 6px;
}

.phone_number a:hover {
    text-decoration: underline;
}

.phone_number time {
    font-size: 14px;
    line-height: 20px;
}

.business_day {
    margin-bottom:12px;
    padding-right:10px;   
}

.business_day div {
    font-size: 12px;
    line-height: 20px;
}

.inquiry button:nth-child(2){
    margin-top: 12px;
    /* background-color: red; */
}

.inquiry button {
    height: 32px;
    padding: 0px 8px;

    font-size: 14px;
    line-height: 20px;
    
    border-radius: 4px;
    
    font-weight: 400;
    white-space: nowrap;

    border: 1px solid rgb(218, 221, 224);
    background-color:transparent;

    cursor: pointer;
}

.inquiry button:hover {
    text-decoration: underline;
}

footer .box2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, min-content);
    grid-auto-flow: column;

    gap: 20px 10px;
}

footer .box2 a:nth-child(4) {
    font-weight: 700;
}

footer .box2 a:hover{
    text-decoration: underline;
}

footer .box3  *{
    color: rgb(130, 140, 148);
    font-size: 10px;
}

footer .box3 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    line-height: 14px;
}

.company_info {
    line-height: 20px;
}


.business_info span:first-child:hover {
    text-decoration: underline;
    cursor: pointer;
}

.business_info a {
    font-weight: 700;
}

.business_info a:hover {
    text-decoration: underline;
}

.membership_confirm a {
    font-weight: 700;
    color: rgb(130, 140, 148);
}

.membership_confirm a:hover {
    text-decoration: underline;
}

.auth_mark {
    display: flex;
    white-space: nowrap;
}

.auth_mark > div {
    margin-right: 6px;
    height:38px;
    padding: 0 6px;
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.auth_mark > div:first-child {
    display: flex;
    align-items: center;
}

.auth_mark > div:first-child img {
    margin-right: 6px;
}

.auth_mark > div:nth-child(2),
.auth_mark > div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102px;
}

.auth_mark div:first-child span {
    display: block;
    margin-left: 6px;
}

.auth_mark img {
    height: 38px;
}

.sns_channel a {
    display: inline-block;
    margin-right: 12px;
}

.sns_channel svg {
    /* background-color: #9e9e9e; */
}

/* svg에 색깔 주려니 안됐음(path나 circle등 다른 태그도 있어서 그런듯). */
.sns_channel span :hover > * {
    color: rgb(101, 110, 117);
}
